<div id="root">
  <%= render partial: "static_pages/header" %>

  <h1>New user</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Back to users", users_path %>
  </div>
</div>
