<div id="root">
  <%= render partial: "static_pages/header" %>

  <h1>New state</h1>

  <%= render "form", state: @state %>

  <br>

  <div>
    <%= link_to "Back to states", states_path %>
  </div>
</div>
